* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    flex: 1;
}

html, body {
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5f5f5;  
    color: #333333;
}

footer {
    background: #333;
    color: white;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #333;
    text-decoration: none;
}

a:visited {
    color: #333;
}

a:hover {
    color: #0077ff;
}

a:active {
    color: #0055aa;
}

.intro {
    text-align: center;
    margin-top: 2rem;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    font-size: 2rem;
    font-weight: 700;
}

.projects {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.resume-container {
    flex: 1;
    overflow: hidden;
    margin-top: 3rem;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

i {
    margin-right: 0.5rem;
}
